
*{
    margin: 0;
    padding: 0;

}

/* header */
header {
    
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #27a8cf;

}

header section {
    height: 75px;
    display: flex;
    align-items: center;
}

header section div {
    padding: 0 20px;
}

h1 {
    display: flex;
    color: rgb(4, 14, 7);
    justify-content: center;
    font-size: 50px;
    margin: 15px;
    }

/* about me section */
.about-me {
       background-color: #27a8cf;
}

.about-image {
    display:block;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.about-me p {
    font-size: 30px;
    text-align: center;
}
 
.about-me h2, .my-projects h2 {
    font-size: 70px;
    text-align: center;
    padding: 15px;
}

.contact-info h2 {
    font-size: 50px;
    text-align: center;
}

.contact-info  {
    padding: 50px;
}

.contact-info p, .linkedin-link{
    padding-top: 10px;
}

/* hero section */
.hero {
    height: 800px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-image: url(../images/PXL_20220604_020954767.NIGHT.jpg);
    background-size: cover;
    background-position: center;
}

/* My projects section */
.projectOne {
    min-height: 500px; 
    max-height: 300px;
    background-image: url('../images/IMG_0490.JPG');
    background-size: cover;
    border: #000000 solid 4px; 
   } 

.projectOne:hover, .projectTwo:hover, .projectThree:hover, .projectFour:hover, .projectFive:hover {
    border: rgb(37, 180, 8) solid 4px;
}

.smaller-projects {
     display: flex;
    justify-content: space-between; 
} 
 
 .projectTwo, .projectThree, .projectFour, .projectFive {
    display: flex;
    min-height: 250px; 
    max-height: 250px;
    min-width: 290px;
    max-width: 250px;
    margin: 10px;
    background-size: cover;
    border: #000000 solid 4px;
}   

.projectTwo { 
    background-image: url(../images/PXL_20210920_205342546.jpg);
    size-adjust: auto;
}

.projectThree {
    background-image: url(../images/PXL_20211027_185618522.jpg);
}

.projectFour {
    background-image:url(../images/PXL_20211031_191507091.jpg) ;
}

.projectFive {
    background-image: url(../images/PXL_20211230_171349247.MP.jpg);
}

/* my contact section */
.contact-info{
    text-align: center;
}

 /* footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #27a8cf;
}

/* media queries */
@media screen and (max-width: 746px) {
    .smaller-projects {
       flex-wrap: wrap;
    }
    header {
        flex-direction: column;
    }
    header section {
        justify-content: space-evenly;
    } 
}
  
